<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="get" action="{% url "search" %}">
                <input type="text" name="q" id="query" placeholder="Search"/>
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="{% url "index" %}">Homepage</a></li>
                <li><a href="{% url "events" %}">Events</a></li>
                <li><a href="{% url "destinations" %}">Destinations</a></li>
                <li><a href="{% url "blogs" %}">Blogs</a></li>
                <li><a href="{% url "packages" %}">Packages</a></li>

            </ul>
        </nav>


        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem
                ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat
                tempus
                aliquam.</p>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
                <li class="icon solid fa-phone">(000) 000-0000</li>
                <li class="icon solid fa-home">1234 Somewhere Road #8254<br/>
                    Nashville, TN 00000-0000
                </li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; All rights reserved.</p>
        </footer>

    </div>
</div>